.skills, .hobbies{
    margin: 50px 10%;
}
.skills h2, .hobbies h2{
    font-size: 2em;
    line-height: 1.5em;
    width: 48%;
    margin-left: 25%;
    margin-right: 25%;
}
hobbies h2{
    font-size: 2em;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
.bloques{
    display: flex;
    gap: 1em;
}
.bloque-skill, .bloque-hobbie{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background-color: lightblue;
    padding: 1em;
    text-align: left;
    border-radius: 10px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
.bloques img{
    width: 65px;
    margin: 10px auto;
}
