@import url(css/header.css);
@import url(css/sobre-mi.css);
@import url(css/skills-hobbies.css);
@import url(css/formacion.css);

body{
    width: 1440px;
    background-color: rgb(251, 254, 255);
}
body{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}