/*ajustes para el body*/
body{
  width: 100%;
  background-color: #F5F5F5;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

/*ajustes del menu*/
header{
  width: 100%;
  height: 6em;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  box-shadow:inset 0 0 15px 1px #2B454F;
}
header h3{
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 2em;
  color: #2B454F;
}
.icono{
  width: 20px;
  height: auto;
  padding-right: 20px;
}
header nav{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.menu{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1em;
  margin: 0px 1em;
}
.menu-item{
  list-style: none;
  white-space: nowrap;
  font-size: 1.2vw;
  font-weight: 425;
  color: #2B454F;

}
.menu-item-extra{
  list-style: none;
  font-size: 1.3vw;
  font-weight: bold;
  color:rgb(22, 22, 22);
  margin-right: 5%;
  margin-left: 1em;
}
nav a{
  font-size: 1.1em;
  text-decoration: none;
  color: #2B454F;
}

/*ajustes para la presentacion*/
.presentacion{
  width: 80%;
  padding: 50px 10% 0px 10%;
  background-color: #CFE5ED;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.texto-presentacion{
  width: 55%;
  font-size: 1em;
  line-height: 1em;
}
.texto-presentacion h1{
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3em;
}
.texto-presentacion p{
  line-height: 1.3em;
}
.redes{
  margin-top: 1em;
  display: flex;
  gap: 3%; 
}
.redes a{
  font-size: 1.1em;
  text-decoration: none;
  color: #2B454F;
  font-weight: 450;
}
.presentacion img{
  margin: 2em;
  width: 20%;
  border-radius: 50%;
  box-shadow: 0 0 5px #2B454F;
}

/*ajustes de la sección Sobre Mi*/
.sobre-mi{
  width: 80%;
  padding: 50px 10% 75px 10%;
  background-color: #CFE5ED;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
}
.sobre-mi h2{
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
  align-self: center;
}
.sobre-mi p{
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.3em;
}

/*ajustes de la sección skills*/
.skills{
  width: 80%;
  padding: 30px 10% 60px 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.skills h2{
  color: #2B454F;
  display: flex;
  align-self: flex-start;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
}
.bloques-skills{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6%;
}
.bloque-skill{
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  display: flex;
  background-color: #CFE5ED;
  border-radius: 15%;
  box-shadow: 0 0 20px #2B454F;
  justify-content: start;
  align-items: center;
  flex-flow: column;
  gap: 1em;
}
.bloques-skills img{
  padding-top: 20%;
  width: 50%;
}
.bloques-skills p{
  font-size: 0.9em;
  color: #2B454F;
  text-decoration: underline;
}

/*Ajustes de la seccion Hobbies*/
.hobbies{
  width: 80%;
  padding: 35px 10% 100px 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.hobbies h2{
  color: #2B454F;
  display: flex;
  align-self: flex-start;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
}
.bloques-hobbies{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6%;
}
.bloque-hobbie{
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  display: flex;
  background-color: #CFE5ED;
  border-radius: 15%;
  box-shadow: 0 0 20px #2B454F;
  justify-content: start;
  align-items: center;
  flex-flow: column;
  gap: 1em;
}
.bloques-hobbies img{
  padding-top: 20%;
  width: 50%;
}
.bloques-hobbies p{
  font-size: 0.9em;
  color: #2B454F;
  text-decoration: underline;
}

/*Ajustes de la sección Formaciones*/
.formacion{
  width: 80%;
  padding: 50px 10% 0px 10%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #CFE5ED;
  gap: 10px;
}
.formacion h2{
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
  align-self: flex-start;
}
.cursos{
  width: 95%;
  display: flex;
  flex-flow: row;
  align-items: space-between;
  justify-content: center;
  background-color: #CFE5ED;
  gap: 2%;
}
.curso{
  width: 30%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.curso img{
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #F5F5F5;
}
.info-curso{
  width: 100%;
  margin: 20px 0px 0px 0px;
  align-self: flex-start;
}
.info-curso h3{
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.3em;
}
.info-curso p{
  font-size: 1vw;
  line-height: 1.2em;
}

/*Ajustes de la sección */
