/*ajustes para el body*/
body{
  width: 100%;
  background-color: #F5F5F5;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

/*ajustes del menu*/
header{
  width: 100%;
  height: 6em;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  box-shadow:inset 0 0 15px 1px #2B454F;
}
header h3{
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 2em;
  color: #2B454F;
}
.icono{
  width: 20px;
  height: auto;
  padding-right: 20px;
}
header nav{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.menu{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1em;
  margin: 0px 1em;
}
.menu-item{
  list-style: none;
  white-space: nowrap;
  font-size: 1.2vw;
  font-weight: 425;
  color: #2B454F;
  transition: 300ms ease-in-out;
}
.menu-item:hover {
  transform: scale(1.1);
}
.menu-item-extra{
  list-style: none;
  font-size: 1.3vw;
  font-weight: bold;
  color:rgb(22, 22, 22);
  margin-right: 5%;
  margin-left: 1em;
  transition: 300ms ease-in-out;
}
.menu-item-extra:hover {
  text-decoration: underline;
}
nav a{
  font-size: 1.1em;
  text-decoration: none;
  color: #2B454F;
}

/*ajustes para la presentacion*/
.presentacion{
  width: 80%;
  padding: 50px 10% 0px 10%;
  background-color: #CFE5ED;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.texto-presentacion{
  width: 55%;
  font-size: 1em;
  line-height: 1em;
}
.texto-presentacion h1{
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3em;
}
.texto-presentacion p{
  line-height: 1.3em;
}
.redes{
  margin-top: 1em;
  display: flex;
  gap: 3%; 
}
.redes a{
  font-size: 1.1em;
  text-decoration: none;
  color: #2B454F;
  font-weight: 450;
  transition: 250ms ease-in-out;
}
.redes a:hover{
  color: blue;
}
.redes a:active{
  color: orange;
}
.presentacion img{
  margin: 2em;
  width: 20%;
  border-radius: 50%;
  box-shadow: 0 0 5px #2B454F;
  transition: 350ms ease-in-out;
}
.presentacion img:hover{
  transform: scale(1.25);
}

/*ajustes de la sección Sobre Mi*/
.sobre-mi{
  width: 80%;
  padding: 50px 10% 75px 10%;
  background-color: #CFE5ED;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
}
.sobre-mi h2{
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
  align-self: center;
}
.sobre-mi p{
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1.3em;
}

/*ajustes de la sección skills*/
.skills{
  width: 80%;
  padding: 30px 10% 60px 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.skills h2{
  color: #2B454F;
  display: flex;
  align-self: flex-start;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
}
.bloques-skills{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6%;
}
.bloque-skill{
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  display: flex;
  background-color: #CFE5ED;
  border-radius: 15%;
  box-shadow: 0 0 20px #2B454F;
  justify-content: start;
  align-items: center;
  flex-flow: column;
  gap: 1em;
  transition: 250ms;
}
.bloque-skill:hover{
  box-shadow: 0 0 40px #1b133a;
  transform: scale(1.15);
}
.bloques-skills img{
  padding-top: 20%;
  width: 50%;
}
.bloques-skills p{
  font-size: 0.9em;
  font-weight: bold;
  color: #2B454F;
  text-decoration: underline;
}


/*Ajustes de la seccion Hobbies*/
.hobbies{
  width: 80%;
  padding: 35px 10% 100px 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.hobbies h2{
  color: #2B454F;
  display: flex;
  align-self: flex-start;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
}
.bloques-hobbies{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6%;
}
.bloque-hobbie{
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  display: flex;
  background-color: #CFE5ED;
  border-radius: 15%;
  box-shadow: 0 0 20px #2B454F;
  justify-content: start;
  align-items: center;
  flex-flow: column;
  gap: 1em;
  transition: 250ms;
}
.bloque-hobbie:hover{
  box-shadow: 0 0 40px #1b133a;
  transform: scale(1.15);
}
.bloques-hobbies img{
  padding-top: 20%;
  width: 50%;
}
.bloques-hobbies p{
  font-size: 0.9em;
  font-weight: bold;
  color: #2B454F;
  text-decoration: underline;
}

/*Ajustes de la sección Formaciones*/
.formacion{
  width: 80%;
  padding: 50px 10% 0px 10%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #CFE5ED;
  gap: 10px;
}
.formacion h2{
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
  align-self: flex-start;
}
.cursos{
  width: 95%;
  display: flex;
  flex-flow: row;
  align-items: space-between;
  justify-content: center;
  background-color: #CFE5ED;
  gap: 3%;
}
.curso{
  width: 30%;
  padding-bottom: 5%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.curso img{
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #F5F5F5;
  transition: 200ms linear 100ms;
}
.curso img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px #2B454F;
  border-radius: 30px;
}
.info-curso{
  width: 100%;
  margin: 20px 0px 0px 0px;
  align-self: flex-start;
}
.info-curso h3{
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.3em;
}
.info-curso p{
  font-size: 1vw;
  line-height: 1.2em;
}
.info-curso a {
  text-decoration: none;
  color: black;
}

/*Ajustes de la sección */
.proyectos{
  width: 80%;
  padding: 50px 10% 30px 10%;
  display: flex;
  flex-flow: column;
  align-items: space-between;
  justify-content: space-around;
}
.proyectos h2{
  color: #2B454F;
  display: flex;
  align-self: flex-start;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
}
.proyectos :nth-child(2){
  flex-direction: row-reverse;
}
.proyecto {
  width: 80%;
  margin: 5% 10%;
  padding-bottom: 40% auto 40% auto;
  background-color: #2B454F;
  box-shadow: 10px 10px 20px #2B454F;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proyecto img {
  width: 60%;
  margin: 5% 2%;
  border: 1vw ridge rgba(81, 192, 236, 0.6);
  transition: 500ms;
}
.proyecto img:hover{
  transform: scale(1.2);
  border: 1vw ridge rgba(148, 71, 0, 0.6);
}
.proyecto-texto{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.proyecto-texto h3{
  width: 100%;
  font-style: italic;
  text-align: center;
  color: #CFE5ED;
  font-weight: 500;
  font-size: 3.5vh;
  margin: 5px 5%;
}
.proyecto-texto p{
  width: 90%;
  margin: 5px 5%;
  font-style: italic;
  text-align: center;
  color: #CFE5ED;
  font-weight: 300;
  font-size: 2.2vh;
}
.btns{
  width: 100%;
  padding: 5%;
}
.btns button{
  width: 100px;
  height: 35px;
  margin: 5px;
  box-shadow: 3px 3px 10px black;
  background-color: #CFE5ED;
  border-radius: 18px;
  font-size: 12px;
  font-weight: 770;
  transition: 200ms;
}
.btns button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(148, 71, 0);
}
.btns a {
  text-decoration: none;
  color: #2B454F;
}

/*Ajustes del formulario de contacto*/
.contacto{
  width: 80%;
  padding: 65px 10% 100px 10%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  background-color: #CFE5ED;
}
.contacto h3{
  display: block;
  color: #2B454F;
  margin: 1em;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.25em;
}
.formulario{
  width: 100%;
  margin: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
}
.formulario img{
  width: 40%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px #2B454F;
}
form {
  width: 45%;
  margin: 0 auto 0 5%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
form h4{
  margin: 1vw;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.25em;
}
form p{
  margin: 1vw;
  font-size: 0.8em;  
  font-weight: 450;
  line-height: 1.25em;
}
.bloque-contacto{
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 3px;
}
label {
  display: block;
  font-size: 0.65em;
  line-height: 1.25em;
  background-color: white;
  padding: 0 4px;
  width: 100%;
  margin: 2px 0;
  color: darkgray;
}
input, textarea {
  width: 100%;
  margin: 2px 0;
  min-height: 1.5em;
  border: none;
  border-color: white;
  border-bottom: 2px solid #CFE5ED;
}
textarea {
  resize: none;
}
.btn-enviar {
  width: 40%;
  background-color: #2B454F;
  color: #F5F5F5;
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 1.5em;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 10px #2B454F;
  transition: 200ms;
}
.btn-enviar:hover{
  transform: scale(1.2);
  border-radius: 15px;
  box-shadow: none;
}
/*Ajustes para el Footer*/
footer {
  height: 80px;
  background-image: url(images/bg3.jpg);
  background-repeat: repeat;
  box-shadow: 0 0 15px #2B454F;
}
footer p {
  font-size: 0.8em;
  color: #F5F5F5;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

 